body {
    margin: 0;
    padding: 0;
}

.site {
    display:flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}



body img {
    max-width: 50vw;
    height: 50vh;
    margin: 20% 0 5% 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
}

body img:hover {
    filter:brightness(130%);
    transform:scale(110%)
}

.title {
    display:flex;
    background-color:black;
    color:white;
    justify-content: center;
}


#title2 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 5%;
}

footer {
    margin-top: 8%;
}